.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.footer__anchor {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
