.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
}

.footer__anchor {
  @extend h3;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.footer__icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
