.header {
  font-size: $heading-font-size-px;
  font-size: $heading-font-size-rem;
  font-weight: $heading-font-weight;
  padding: 25px;
  text-align: center;
  @media only screen and (min-width: 768px) {
    padding: 25px 0;
    text-align: left;
  }
}

.header__name {
  z-index: 2;
  margin-bottom: 25px;
  @media only screen and (min-width: 768px) {
    margin: 0;
  }
}

.header__emoji {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}

.header__role {
  font-weight: normal;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 10px;
}

.header__link {
  text-decoration: none;
  display: inline-block;
  font-family: $secondary-font-family;
  &:hover {
    animation: wiggle 0.3s infinite;
  }
}
