.nav {
  text-align: center;
  padding: 0;
  line-height: inherit;
  @media only screen and (min-width: 768px) {
    text-align: right;
    :first-child {
      margin: 0;
      margin-right: 10px;
    }
    :last-child {
      margin: 0;
      margin-left: 10px;
    }
  }
}

.nav__item {
  display: inline-block;
  margin: 0 10px;
}

.nav__item-link {
  text-decoration: none;
  &:hover {
    color: #fff;
    background: #000;
  }
}

.nav__item--active {
  .nav__item-link {
    color: #000;
    border-bottom: 4px solid #000;
    &:hover {
      color: #fff;
      background: #000;
      border: none;
    }
  }
}
