
// TYPOGRAPHY
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Abril Fatface', cursive;

$heading-font-family: $primary-font-family;

$body-font-size-px: 16px;
$body-font-size-rem: 1.6rem;

$h1-font-size-px: 32px;
$h1-font-size-rem: 3.2rem;

$h2-font-size-px: 24px;
$h2-font-size-rem: 2.4rem;

$h3-font-size-px: 20px;
$h3-font-size-rem: 2.0rem;

$h4-font-size-px: 18px;
$h4-font-size-rem: 18px;

$h5-font-size-px: 16px;
$h5-font-size-rem: 18px;

$heading-font-weight: normal;
$heading-font-size-px: $h2-font-size-px;
$heading-font-size-rem: $h2-font-size-rem;

$font-weight-bold: bold;


// COLORS
$white-color: #f9f9f9;
$alt-white-color: #696969;
$body-color: #000;


// GRID
$g--grid-columns:               12;
$g--grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$g--grid-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$g--grid-gutter-width:          30px;
$g--grid-gutter-widths: (
  xs: $g--grid-gutter-width,
  sm: $g--grid-gutter-width,
  md: $g--grid-gutter-width,
  lg: $g--grid-gutter-width,
  xl: $g--grid-gutter-width
);
