
// TYPOGRAPHY
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Abril Fatface', cursive;

$base-font-size: 1em;
$base-font-weight: 400;
$base-line-height: 1.75;

$h1-font-size: 2.441em;
$h2-font-size: 1.953em;
$h3-font-size: 1.563em;
$h4-font-size: 1.25em;
$small-font-size: 0.8em;

$heading-line-height: 1.2;
$heading-font-weight: $base-font-weight;
$heading-font-family: $primary-font-family;

$font-weight-bold: 700;

// COLORS
$white-color: #f9f9f9;
$alt-white-color: #696969;
$body-color: #000;

// GRID
$grid-columns:               12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-gutter-width:          30px;
$grid-gutter-widths: (
  xs: $grid-gutter-width,
  sm: $grid-gutter-width,
  md: $grid-gutter-width,
  lg: $grid-gutter-width,
  xl: $grid-gutter-width
);
