      <footer class="footer">
        <div class="footer__half">
          <div class="footer__email">
            <a class="block margin-xs margin-no-top" href="mailto:chris.konings.me" alt="IBM Design" target="_blank"><span class="h4 bold">chris@konings.me</span></a>
          </div>
        </div>
        <div class="footer__half footer__half--right">
          <div class="footer__copy">
            © 2016 Copyright Chris Konings. All rights reserved.
          </div>
        </div>
      </footer>
  </body>
</html>
