{% assign current = page.url | downcase | split: '/' %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Chris Konings, Design and Front-End. ​I have had the pleasure of working as a self-employed freelancer, a sole developer in a small agency and a UI engineer helping to ship two products in IBM" />
    <title>Chris Konings</title>
    <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/main.min.css">
    <script {% if current.length > 0 %}src="../assets/prism.js?v=1"{% else %}src="../../assets/prism.js?v=1"{% endif %}></script>
    <script {% if current.length > 0 %}src="../assets/scripts.js?v=1"{% else %}src="../../assets/scripts.js?v=1"{% endif %}></script>
  </head>
  <body>
      <header class="header">
        <div class="header__name">
          <a class="header__link" href="/">Chris Konings</a>
          <span class="header__role">Design / Front-End</span>
          <img class="header__emoji" src="../../assets/emoji.png" alt="emoji">
        </div>
        <nav class="nav-wrapper">
          <ul class="nav">
            <li class="nav__item">
              <a class="nav__item-link" href="https://medium.com/@chriskonings" target="_blank">blog</a>
            </li>
            <li {% if current[1] == "about" %}class="nav__item nav__item--active"{% else %}class="nav__item"{% endif %}>
              <a class="nav__item-link" href="/about/">Me</a>
            </li>
          </ul>
        </nav>
      </header>
