h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: $heading-font-family; font-weight: $heading-font-weight; }

h1, h2, .h1, .h2 { line-height: 1.1; }
h3, h4, .h3, .h4 { line-height: 1.2; }

h1, .h1 { font-size: 32px; font-size: 3.2rem; }
h2, .h2 { font-size: 24px; font-size: 2.4rem; }
h3, .h3 { font-size: 20px; font-size: 2.0rem; }
h4, .h4 { font-size: 18px; font-size: 1.8rem; }
h5, .h5 { font-size: 16px; font-size: 1.6rem; }

.italic { font-style: italic; }
.bold   { font-weight: 900; }
.underline { text-decoration: underline; }
.no-underline { text-decoration: none; }

.center { text-align: center; }

.block-margin { margin: 1em 0; }

.word-break { word-break: break-word; }

.block {
  display: block;
}

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

.normal-line-height { line-height: normal; }
.small-line-height { line-height: 1.38; }
.medium-line-height { line-height: 1.58; }
.medium-line-height { line-height: 1.78; }
