@import 'reset';
@import 'variables';
@import 'syntax';
@import 'typography';
@import 'prism';
@import 'grid-cheat-sheet';

html {
  min-height: 100vh;
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: $primary-font-family;
  background-color: $white-color;
  min-height: 100vh;
  height: auto;
  font-size: $body-font-size-px;
  font-size: $body-font-size-rem;
  -webkit-overflow-scrolling: touch;
  &::before {
    content: '';
    background: $body-color;
    width: 5px;
    height: 100%;
    position: absolute;

  }
}

main {
  animation: fadein 1s ease;
  margin: 20px 50px;
}

a {
  font-weight: 900;
  color: $body-color;
  transition: color 0.1s ease;
  text-decoration: none;
  &:hover {
    color: #777;
  }
}

::-moz-selection { color: #f9f9f9; background: #000; }
::selection { color: #f9f9f9; background: #000; }

.button {
  text-decoration: none;
  display: inline-block;
  color: #000;
  background-color: #f9f9f9;
  border: 2px solid #000;
  padding: 8px;
  transition: all 0.3s ease;
  &:hover {
    color: #f9f9f9;
    background-color: #000;
  }
}

.button--margin {
  margin: .3em 0;
}

.page {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.page--home {
  padding: 0;
  @media only screen and (min-width: 960px) {
    padding-top: 60px;
  }
}

.post {
  max-width: 960px;
  margin: 50px auto;
  position: relative;
  @media only screen and (min-width: 960px) {
    margin: 50px auto 0 auto;
  }
}

.post__details {
  padding: 5px 0;
  border-top: 2px solid $body-color;
}

.post__nav {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  padding: 100px 0 50px 0;
  display: flex;
}

.post__nav-prev {
  flex: 1;
  text-decoration: none;
  text-align: left;
}

.post__nav-next {
  flex: 1;
  text-decoration: none;
  text-align: right;
}

.block {
  display: block;
  height: auto;
  width: 100%;
  margin: 2em 0;
  padding: .5em;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.block--half {
  @media only screen and (min-width: 960px) {
    width: 50%;
    float: left;
    padding: .5em;
  }
}

.block--large {
  @media only screen and (min-width: 960px) {
    width: 59%;
  }
}

.content__post-half--margin-left {
  @media only screen and (min-width: 960px) {
    margin-left: 5%;
    width: 54%
  }
}
.block__image {
  width: 100%;
  height: 100%;
}

.margin-xs { margin: 0.5em auto; }
.margin-s { margin: 1em auto; }
.margin-m { margin: 2em auto; }
.margin-l { margin: 3em auto; }
.margin-xl { margin: 4em auto; }
.margin-no-top {margin-top: 0;}
.margin-no-bottom {margin-bottom: 0;}
.margin-no-left {margin-left: 0;}
.margin-no-right {margin-right: 0;}

.header {
  font-size: $heading-font-size-px;
  font-size: $heading-font-size-rem;
  font-weight: $heading-font-weight;
  display: block;
  align-items: center;
  height: auto;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  @media only screen and (min-width: 750px) {
    display: flex;
    height: 70px;
    padding: 0 20px;
    flex-direction: row;
  }
}

.header__name {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  z-index: 2;
  @media only screen and (min-width: 750px) {
    flex: 1;
    width: initial;
    min-width: 125px;
    margin-bottom: 0;
    text-align: left;
  }
}

.header__emoji {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}

.header__role {
  font-weight: normal;
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 10px;
  @media only screen and (min-width: 750px) {
    display: inline-block;
  }
}

.header__link {
  text-decoration: none;
  display: inline-block;
  font-family: $secondary-font-family;
  &:hover {
    animation: wiggle 0.3s infinite;
  }
}

.nav-wrapper {
  width: 100%;
  z-index: 2;
  @media only screen and (min-width: 750px) {
    width: auto;
    flex: 1;
  }
}

.nav {
  text-align: center;
  padding: 0;
  @media only screen and (min-width: 750px) {
    text-align: right;
    :first-child {
      margin: 0;
      margin-right: 10px;
    }
    :last-child {
      margin: 0;
      margin-left: 10px;
    }
  }
}

.nav__item {
  display: inline-block;
  margin: 0 10px;
}

.nav__item-link {
  @extend h3;
  text-decoration: none;
  &:hover {
    color: #000;
    border-bottom: 4px solid #000;
  }
}

.nav__item--active {
  .nav__item-link {
    color: #000;
    border-bottom: 4px solid #000;
  }
}

.post-list {
  list-style: none;
  padding: 0;
  animation: riseup 1s ease;
}

.post-list__post {
  position: relative;
  float:left;
  width: 99%;
  padding-bottom: 99%; /* = width for a 1:1 aspect ratio */
  overflow:hidden;
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 640px) {
    width: 33.33%;
    padding-bottom: 33.33%; /* = width for a 1:1 aspect ratio */
  }

  @media only screen and (min-width: 960px) {
    width: 33.33%;
    padding-bottom: 33.33%; /* = width for a 1:1 aspect ratio */
  }

  @media only screen and (min-width: 1280px) {
    width: 25%;
    padding-bottom: 25%;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    width: 99%;
    padding-bottom: 99%; /* = width for a 1:1 aspect ratio */
  }
}

.post-list__content {
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease;
}

.post-list__link {
  color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.3s ease;
  &:hover {
    filter: grayscale(0%);
    .post-list__title {
      color: $white-color;
      transform: translateX(0);
    }
    .post-list__content {
      transform: scale(1.1);
    }
  }
}

.post-list__title {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  margin: 0;
  padding: 0 10px;
  color: $white-color;
  background: $body-color;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  @media only screen and (min-width: 750px) {
    transform: translateX(-100%);
  }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  & iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-0.5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(0.5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes riseup {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
