@import 'reset';
@import 'variables';
@import 'syntax';
@import 'typography';

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  height: auto;
  font-size: $body-font-size-px;
  font-size: $body-font-size-rem;
  -webkit-overflow-scrolling: touch;
  line-height: normal;
}

a {
  font-weight: 900;
  color: $body-color;
  transition: color 0.1s ease;
  &:hover {
    color: #777;
  }
}

::-moz-selection { color: #f9f9f9; background: #000; }
::selection { color: #f9f9f9; background: #000; }


.button {
  text-decoration: none;
  display: inline-block;
  color: #000;
  background-color: #f9f9f9;
  border: 2px solid #000;
  padding: 8px;
  transition: all 0.3s ease;
  &:hover {
    color: #f9f9f9;
    background-color: #000;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: $primary-font-family;
  background-color: #f9f9f9;
}

.flex-wrap {
  flex: 1;
  //height: 100%;
  //overflow: auto;
  position: relative;
}

.content {
  margin: 0 20px 80px 20px;
  animation: fadein 1s;
}

.content__page {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  @media only screen and (min-width: 960px) {
    margin: 50px auto;
  }
}

.content__post {
  max-width: 960px;
  margin: 25px auto;
  @media only screen and (min-width: 960px) {
    margin: 50px auto 0 auto;
  }
}

.content__post--about {
  max-width: 800px;
}

.content__post-title {
  font-size: 56px;
  font-size: 5.6rem;
}

.content__post-sub-title {
  @extend h3;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  color: #7d7d7d;
}

.content__post-date {
  color: #7d7d7d;
  margin: 5px auto 30px auto;
}

.content__nav {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  height: 50px;
  line-height: 50px;
}

.content__nav-prev {
  text-decoration: none;
  float: left;
}

.content__nav-next {
  text-decoration: none;
  float: right;
}

.content__block {
  display: block;
}

.content__post-block {
  width: 100%;
  display: block;
  overflow: auto;
  margin: -0.5%;
}

.content__post-block--margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.content__post-full {
  display: block;
  height: auto;
  width: 99%;
  margin: 0.5%;
}

.content__post-half {
  display: block;
  height: auto;
  width: 99%;
  margin: 0.5%;
  @media only screen and (min-width: 960px) {
    width: 49%;
    margin: 0.5%;
    float: left;
  }
}

.content__post-half--small {
  @media only screen and (min-width: 960px) {
    width: 38%;
  }
}

.content__post-half--large {
  @media only screen and (min-width: 960px) {
    width: 59%;
  }
}

.content__post-half--about {
  width: 99%;
  margin: 25px auto;
}

// .content__flex {
//   flex-flow: column wrap;
//   justify-content: space-between;
//   //display: block;
//   @media only screen and (min-width: 760px) {
//     display: flex;
//     display: -webkit-flex;
//
//     flex-flow: row wrap;
//   }
// }
//
// .content__flex-full {
//   flex: 1;
// }
//
// .content__flex-half {
//   flex: 0.49;
//   margin: 25px auto;
//   position: relative;
//   @media only screen and (min-width: 960px) {
//     margin: 0;
//   }
// }

.content__post-image {
  width: 100%;
  height: 100%;
}

.bullet-list {
  list-style: disc;
  padding-left: 20px;
}

.margin-xs { margin: 0.5em auto; }
.margin-s { margin: 1em auto; }
.margin-m { margin: 2em auto; }
.margin-l { margin: 3em auto; }
.margin-xl { margin: 4em auto; }
.margin-no-top {margin-top: 0;}
.margin-no-bottom {margin-bottom: 0;}
.margin-no-left {margin-left: 0;}
.margin-no-right {margin-right: 0;}

.header {
  font-size: $heading-font-size-px;
  font-size: $heading-font-size-rem;
  font-weight: $heading-font-weight;
  display: block;
  align-items: center;
  height: auto;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  @media only screen and (min-width: 750px) {
    display: flex;
    height: 70px;
    padding: 0 20px;
    flex-direction: row;
  }
}

.header__name {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  z-index: 2;
  @media only screen and (min-width: 750px) {
    flex: 1;
    width: initial;
    min-width: 125px;
    margin-bottom: 0;
    text-align: left;
  }
}

.header__emoji {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}

.header__name-role {
  font-weight: normal;
  display: block;
  @media only screen and (min-width: 750px) {
    display: inline-block;
  }
}

.header__name-link {
  text-decoration: none;
  &:hover {
    animation: wiggle 0.3s infinite;
  }
}

.nav-wrapper {
  width: 100%;
  z-index: 2;
  @media only screen and (min-width: 750px) {
    width: auto;
    flex: 1;
  }
}

.nav {
  text-align: center;
  @media only screen and (min-width: 750px) {
    text-align: right;
    :first-child {
      margin: 0;
      margin-right: 10px;
    }
    :last-child {
      margin: 0;
      margin-left: 10px;
    }
  }
}

.nav__item {
  display: inline-block;
  margin: 0 10px;
}

.nav__item-link {
  text-decoration: none;
  &:hover {
    color: #000;
    border-bottom: 4px solid #000;
  }
}

.nav__item--active {
  .nav__item-link {
    color: #000;
    border-bottom: 4px solid #000;
  }
}


.post-list {
  flex: 1;
  margin: -0.5%;
  // :first-child {
  //   margin-right: 1%;
  //   margin-left: 0;
  // }
  // :last-child {
  //   margin-left: 1%;
  //   margin-right: 0;
  // }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.post-list__post {
  position: relative;
  float:left;
  width: 99%;
  padding-bottom: 99%; /* = width for a 1:1 aspect ratio */
  //margin: 0.5%;
  // background-color: #efefef;
  overflow:hidden;
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 640px) {
    width: 49%;
    padding-bottom: 49%; /* = width for a 1:1 aspect ratio */
    margin:0.5%;
  }

  @media only screen and (min-width: 960px) {
    width: 32.33%;
    padding-bottom: 32.33%; /* = width for a 1:1 aspect ratio */
    margin: 0.5%;
  }

  @media only screen and (min-width: 1280px) {
    width: 24%;
    padding-bottom: 24%;
    margin: 0.5%;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    width: 99%;
    padding-bottom: 99%; /* = width for a 1:1 aspect ratio */
    margin: 0.5%;
  }


}

.post-list__content {
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease;
}

.post-list__post-link {
  color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  // &::after {
  //   content: '';
  //   background-color: #000;
  //   width: 100%;
  //   height: 100%;
  //   display: block;
  //   position: absolute;
  //   opacity: 0.5;
  //   z-index: 3;
  //   transition: all 0.3s ease;
  // }
  &:hover {
    // &::after {
    //   background-color: #fff;
    //   opacity: 0.5;
    // }
    .post-list__post-title {
      color: #000;
      transform: translateY(0);
    }
    .post-list__content {
      transform: scale(1.1);
    }
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}


.post-list__post-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  z-index: 99;
  height: 25px;
  line-height: 25px;
  padding: 2% 0;
  text-align: center;
  background: #f9f9f9;
  transform: translateY(100%);
  transition: all 0.5s ease;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  line-height: initial;
  @media only screen and (min-width: 960px) {
    flex-direction: row;
    line-height: 60px;
  }
}

.footer__half {
  flex: 1;
}

.footer__half--right {
  text-align: left;
  @media only screen and (min-width: 960px) {
    text-align: right;
  }
}

.footer__email {
  text-decoration: none;
}

.footer__copy {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
}

.footer__jekyll {
  text-align: left;
  @media only screen and (min-width: 960px) {
    text-align: right;
  }
}
