@import '_base/reset';
@import '_helpers/variables';
@import '_base/typography';
@import '_helpers/util';
@import '_layout/grid';
@import '_vendor/syntax';
@import '_vendor/prism';
@import '_components/block';
@import '_components/hero';
@import '_components/button';
@import '_components/card';
@import '_components/post';
@import '_layout/header';
@import '_layout/nav';
@import '_layout/footer';
@import '_pages/home';
@import '_pages/grid-cheat-sheet';

html {
  min-height: 100vh;
  font-size: $base-font-size;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  font-weight: $base-font-weight;
  position: relative;
  font-family: $primary-font-family;
  background-color: $white-color;
  line-height: $base-line-height;
  min-height: 100vh;
  height: auto;
  -webkit-overflow-scrolling: touch;
}

.black-bar {
  width: 100%;
  height: 400px;
  background: black;
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
}


.gridless {
  width: 100%;
  display: block;
  max-width: 1500px;
  margin: 0 auto;
}

.gridless--black {
  color: white;
  position: relative;
  &::before {
    content: '';
    background: black;
    color: white;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    @media screen and (min-width: 991px) {
      bottom: 0;
    }
  }
  .gridless__left, .gridless__right {
    vertical-align: middle;
  }
}

.gridless__left {
  vertical-align: top;
  width: 100%;
  display: block;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  @media screen and (min-width: 991px) {
    display: inline-block;
    max-width: none;
    width: 50%;
  }
}

.gridless__left-image {
  position: initial;
  @media screen and (min-width: 991px) {
    position: absolute;
  }
}

.gridless__right-image {
  max-width: 700px;
  @media screen and (min-width: 991px) {
    max-width: none;
  }
}

.gridless__right {
  vertical-align: top;
  width: 100%;
  display: block;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  @media screen and (min-width: 991px) {
    display: inline-block;
    max-width: none;
    width: 49.5%;
  }
}

.gridless__text {
  padding: 50px;
}
