@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700');

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  // margin: 1.414em 0 0.5em;
  margin: 0.5em 0;
  font-weight: inherit;
  line-height: $heading-line-height;
}

h1 {
  margin-top: 0;
  font-size: $h1-font-size;
}

h2 {font-size: $h2-font-size;}

h3 {font-size: $h3-font-size;}

h4 {font-size: $h4-font-size;}

small, .font_small {font-size: $small-font-size;}

a {
  font-weight: 700;
  color: $body-color;
  transition: color 0.1s ease;
  text-decoration: none;
  &:hover {
    color: #777;
  }
}

ul {
  list-style: disc;
  padding-left: 20px;
  line-height: 1.58;
}

small, .font-small {font-size: 0.75em;}

mark {
  background-color: #feffa4;
}

.black-mark {
  color: #fff;
  background-color: #000;
}

.italic { font-style: italic; }
.bold   { font-weight: $font-weight-bold; }
.underline { text-decoration: underline; }

.text-center { text-align: center; }

.block-margin { margin: 1em 0; }

.word-break { word-break: break-word; }

.block {
  display: block;
}

.block--left {
  float: left;
}

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }
.no-list-style {list-style: none;}
.large-list { font-size: 3rem; }

.normal-line-height { line-height: normal; }
.small-line-height { line-height: 1.38; }
.medium-line-height { line-height: 1.58; }
.medium-line-height { line-height: 1.78; }

hr {
  margin: 50px auto;
}

.font-alt {
  font-family: $secondary-font-family;
}

::-moz-selection { color: #f9f9f9; background: #000; }
::selection { color: #f9f9f9; background: #000; }

.color-white {
  color: #fff;
}
