.block {
  display: block;
  height: auto;
  width: 100%;
  margin-top: 1em;
  padding: .5em;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.block--half {
  @media only screen and (min-width: 960px) {
    width: 50%;
    float: left;
    padding: .5em;
  }
}

.block--clear {
  clear: both;
}

.block--large {
  @media only screen and (min-width: 960px) {
    width: 59%;
  }
}
