.post-wrapper {
  margin: 15px auto;
  padding: 0 20px;
  max-width: 960px;
  &::after, &::before {
    content: "";
    display: table;
    clear: both;
  }
  @media only screen and (min-width: 768px) {
    padding: 0 5px;
  }
  @media only screen and (min-width: 992px) {
    padding: 40px 80px 80px 80px;
  }
}

.post-wrapper--relative {
  padding-top: 0; padding-bottom: 0; margin-top: 0; position: relative;
}

.post--full {
  max-width: none;
  padding: 0;
  margin: 0;
}

.post__details {
  padding: 20px 0;
  margin-bottom: 2em;
}

.post__product-name {
  @extend h4;
  color: #7c7c7c;
  display: block;
  text-align: center;
  margin-bottom: 35px;
}

.main-tagline {
  margin: 25px auto;
  font-size: 2.441em;
  line-height: $heading-line-height;
  @media only screen and (min-width: 768px) {
    font-size: 3.157em;
  }
  @media only screen and (min-width: 960px) {
    font-size: 3.998em;
  }
}

.post-nav {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  padding: 25px 0;
  display: flex;
}

.post-nav__prev {
  flex: 1;
  text-decoration: none;
  text-align: left;
}

.post-nav__next {
  flex: 1;
  text-decoration: none;
  text-align: right;
}

.post--shadow {
  box-shadow: none;
  @media only screen and (min-width: 1000px) {
    box-shadow: 0 0 30px -5px rgba(185, 185, 185, 0.75);
  }
}

.post--rise {
  animation: riseup 1s ease;
}

@keyframes riseup {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

.offset-left {
  display: block;
  height: 400px;
  z-index: 4;
}

.offset-left__container {
  position: absolute;
  left: 0;
  @media only screen and (min-width: 756px) {
    left: -15px;
  }
}

.offset-left__image {
  width: 100%;
}

.offset-overlay {
  background: #000;
  color: #fff;
  z-index: 5;
  margin: 50px auto;
  position: relative;
  padding: 20px;
}
