---
layout: default
title:  "IBM API Test"
description: IBM API Test allows the user to check how their app is communicating between the APIs it uses.
customdate: July 2015
date:   2016-05-01 00:38:53 +0000
category: work
thumbnail: /assets/ibm-api-test-thumbnail-02.jpg
permalink: /work/:title/
---

<div class="grid-fixed">
  <div class="post-wrapper">
    <div class="row">
      <div class="col-md-12">
        <h1 class="main-tagline bold">IBM API Test</h1>
        <h2>
          Visualizing API health and communication.
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <img class="full-image" src="/assets/ibm-api-test-01.png" alt="api test"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Product</h3>
        <p>IBM API Test allows the user to check how their app is communicating between the APIs it uses. The user is able to set up a number of tests, compare results and assess the general health of their app by understanding how each API is communicating between each other and whether their app is receiving the correct data.</p>
        <h3>Role</h3>
        <p>I was hired as a front-end engineer and was the first UI-focussed developer on the team. I refactored production HTML and CSS to align with BEM and follow modern practices for maintainable code. I was heavily involved in the interface design process to eventually build a re-usable design library.</p>
        <h3>Tools</h3>
        <ul>
          <li>HTML</li>
          <li>CSS/Less</li>
          <li>Javascript</li>
          <li>AngularJS</li>
          <li>D3</li>
          <li>Sketch/Illustrator</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img class="full-image margin-m" src="/assets/api-test-02.gif" alt="api test"/>
      </div>
    </div>
    <div class="post-nav">
      {% if page.previous %}
        <a class="post-nav__prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next %}
        <a class="post-nav__next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>
  </div>
</div>
