---
layout: default
product:  IBM App Connect
tagline:  Automating workflows & connecting apps
description: An IBM Cloud Integration offering that links and moves data between APIs to create automated workflows.
customdate: March 2016
date:   2016-05-01 00:38:53 +0000
category: work
thumbnail: /assets/app-connect-thumbnail.jpg
permalink: /work/:title/
---

<h1 class="post__product-name" style="margin: 100px auto;">
  IBM App Connect
</h1>

<div class="gridless">
  <div class="gridless__left">
    <img class="gridless__left-image full-image" src="/assets/app-connect/01.jpg" alt="app connect"/>
  </div>
  <div class="gridless__right">
    <div class="main-tagline">
      Automating workflows & connecting apps.
    </div>
  </div>
</div>


<div class="grid-fixed">
  <div class="post-wrapper" style="padding-top: 0; padding-bottom: 0; margin-top: 0; position: relative;">
    <div class="offset-overlay">
      <div class="row">
        <div class="col-md-6">
          <h2>What is it?</h2>
          <p>
            IBM App Connect is a new offering within IBM Cloud Integration that links and moves data between APIs to create automated workflows. It offers a personal and professional package, depending on usage. The product is still in early release and may be protected under an NDA at the time of this post.
          </p>
        </div>
        <div class="col-md-6">
          <h2>My role</h2>
          <p>
            I am a front-end developer working with a team of designers and engineers. I work with the design team to ensure a feasible solution that meets user needs and build wireframes and coded prototypes for usability testing. I translate our design decisions to the engineering team and communicate goals and tasks across the board so that deliverables are completed on a timely manner.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Prototyping <mark class="black-mark">interactions</mark> to bridge the gap between design and engineering on an enterprise scale.</h2>
      </div>
    </div>

    <div class="row margin-m">
      <div class="col-md-4">
        <h3 class="text-center">1</h3>
        <img  class="full-image" src="/assets/prototype-1.png" />
        <p>Lorem ipsum dolnsectetur adipisicing elit, sed accusantium.</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">2</h3>
        <img class="full-image" src="/assets/prototype-1.png" />
        <p>Lorem ipsum dolnsectetur adipisicing elit, sed accusantium.</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">3</h3>
        <img class="full-image" src="/assets/prototype-1.png" />
        <p>Lorem ipsum dolnsectetur adipisicing elit, sed accusantium.</p>
      </div>
    </div>

    <div class="row margin-m">
      <div class="col-md-6">
        <img class="full-image" src="/assets/app-connect/02.jpg" alt="app connect"/>
      </div>
      <div class="col-md-6">
        <img class="full-image" src="/assets/app-connect/02.jpg" alt="app connect"/>
      </div>
    </div>

    <div class="row margin-xl">
      <div class="col-md-12">
        <h2 class="text-center">An enterprise-scale marketing <mark class="black-mark">strategy</mark>.</h2>
      </div>
    </div>
  </div>
</div>

<div class="gridless gridless--black">
  <div class="gridless__left">
    <div class="gridless__text">
      <h2>Standing out from the crowd.</h2>
      <p>
        As part of a product re-brand we built our own marketing website to sit outside the IBM Marketplace. I was the main Front End Developer behind this due to my background in Wordpress and I helped design, architect and build the site that would serve as the face of our product.
      </p>
    </div>
  </div>
  <div class="gridless__right">
    <img class="gridless__right-image full-image" src="/assets/app-connect/03.png" alt="app connect"/>
  </div>
</div>

<!-- <div style="    width: 100%;
    /* background: black; */
    color: white;
    position: relative; margin: 0 auto;">
    <div style="    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;"></div>
    <div style="max-width: 1500px; margin: 0 auto;">
  <div style="    width: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 50px;">
    <h2>Standing out from the crowd.</h2>
    <p>
      As part of a product re-brand we built our own marketing website to sit outside the IBM Marketplace. I was the main Front End Developer behind this due to my background in Wordpress and I helped design, architect and build the site that would serve as the face of our product.
    </p>
  </div>
  <div style="    width: 49%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: -70px 0;">
    <img style="width: 100%;" src="/assets/app-connect/03.png" alt="app connect"/>
  </div>
</div>
</div> -->


<div class="grid-fixed">
  <div class="post-wrapper" style="padding-top: 0; padding-bottom: 0; margin-top: 0; position: relative;">
    <div class="row margin-m">
      <div class="col-md-6">
        <img class="full-image" src="/assets/app-connect/02.jpg" alt="app connect"/>
      </div>
      <div class="col-md-6">
        <img class="full-image" src="/assets/app-connect/02.jpg" alt="app connect"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">So, that was IBM App Connect.</h2>
      </div>
    </div>
  </div>
</div>

<div class="post-nav">
  {% if page.previous %}
    <a class="post-nav__prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next %}
    <a class="post-nav__next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>





<!-- <div class="block block--half">
    <h3>Product</h3>
    <p>IBM App Connect is a new offering within IBM Cloud Integration that links and moves data between APIs to create automated workflows. It offers a personal and professional package, depending on usage. The product is still in early release and may be protected under an NDA at the time of this post.</p>
  <h3>Role</h3>
  <p>I am a front-end developer working with a team of designers and engineers. I work with the design team to ensure a feasible solution that meets user needs and build wireframes and coded prototypes for usability testing. I translate our design decisions to the engineering team and communicate goals and tasks across the board so that deliverables are completed on a timely manner.</p>
</div>
<div class="block block--half">
  <img class="block__image" src="/assets/app-connect-thumbnail.jpg" alt="app connect"/>
</div>
<div class="block block--half block--clear">
  <img class="block__image" src="/assets/app-connect-01.jpg" alt="app connect"/>
</div>
<div class="block block--half">
  <h3>Marketing</h3>
  <p>As part of a product re-brand we built our own marketing website to sit outside the IBM Marketplace. I was the main Front End Developer behind this due to my background in Wordpress and I helped design, architect and build the site that would serve as the face of our product.</p>
  <a class="button button--margin" href="https://appconnect.ibmcloud.com/" title="product website" target="_blank">Product Website</a>
</div> -->
