---
layout: default
category: work
title: 'My first post'
date: 2012-04-06 21:35
---

<div class="content__page">

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.categories contains 'blog' %}
      <li class="post-list__post" style="background-image:url('{{ post.thumbnail }}')">
        <a class="post-list__post-link" href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-list__content">
          <!-- <span class="post-list__post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
          <span class="post-list__post-title">{{ post.title | escape }}</span>
        </div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>


<!-- <div class="content__page">

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
