---
layout: default
title: work
category: none
date: 2012-04-06 21:35
---

<div class="content__page">
  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.categories contains 'work' %}
      <li class="post-list__post">
        <a class="post-list__post-link" href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-list__content" style="background-image:url('{{ post.thumbnail }}');">
          <!-- <span class="post-list__post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
        </div>
        <span class="post-list__post-title">{{ post.title | escape }}</span>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>



<!-- <div class="content__page">

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
